/* Reset and global styles */
body, html {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #fff;
    background: url(images/bg-bricks.jpg) no-repeat center center fixed;
    background-size: cover;
}

/* Header styles */
.header {
    background-color: #b1b1b1;
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    position: fixed;
    top: 2;
    left: 0;
    z-index: 1000;
}


/* Navbar styles */
.navbar {
    width: 100%;
    background: rgba(0, 0, 0, 0.59);
    padding: 1em 0;
    text-align: center;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar .logo {
    font-size: 1.5em;
    color: #fff;
    margin-left: 20px;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.nav-list li {
    margin: 0 1em;
}

.nav-list a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    padding: 0.5em 1em;
    transition: background 0.3s, color 0.3s;
    border-radius: 4px;
}

.nav-list a:hover {
    background: #555;
    color: #fff;
}

/* Container styles for products */
.container {
    max-width: 800px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
}

.product {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.product:hover {
    transform: translateY(-5px);
}

.product img {
    max-width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.product .name {
    font-weight: bold;
    margin-bottom: 5px;
}

.product .price {
    color: #888;
    margin-bottom: 10px;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: rgba(255, 255, 255, 0.95); /* Semi-transparent white background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 80%;
}

.modal-content h2 {
    margin-top: 0;
}

.modal-content p {
    margin-bottom: 20px;
}

.modal-content button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

/* Additional styles */
h1 {
    color: #000000;
    font-size: 2em;
    margin-bottom: 0;
    text-align: center;
}

p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.label {
    margin-left: 1em;
    display: block;
    text-align: left;
    color: #000000;
    margin-bottom: 0.5em;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    width: calc(100% - 20px); 
    padding: 0.75em;
    margin: 10px;  
    border: none;
    border-radius: 5px;
    outline: none;
    background: rgba(255, 255, 255, 0.25);
    color: #000000;
}

.submit-btn {
    width: calc(100% - 40px); 
    padding: 0.75em 1em;
    border: none;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.25);
    color: #000000;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
    margin: 10px; 
}

.submit-btn:hover {
    background: rgba(255, 255, 255, 0.35);
    transform: scale(1.05);
}

.error {
    background-color: #f8d7da;  
    color: #721c24;  
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #f5c6cb;  
    text-align: left;
}

.success {
    background-color: #d1e7dd;  
    color: #0f5132;  
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #badbcc;  
    text-align: left;
}
