body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
    background: url(images/bg-wood.jpg) no-repeat center center fixed;
    background-size: cover;
}

body.home {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(images/bg-wood-2.jpg) no-repeat center center fixed;
    background-size: cover;
    color: #eee;
}

.navbar {
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    padding: 1em 0;
    text-align: center;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.nav-list li {
    margin: 0 1em;
}

.nav-list a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

.nav-list a:hover {
    color: #747474;
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.15);
    padding: 20px;  
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    align-items: center; 
    border-radius: 10px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 90%;  
    max-width: 400px;
    margin-top: 50px; 
}

.content {
    overflow-y: auto; 
    height: 100vh;  
    text-align: center;  
    padding: 18em;
}

.content p {
    text-align: center; 
}

h1 {
    color: #000000;
    font-size: 2em;
    margin-bottom: 0;
    text-align: center;
}

p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

label {
    margin-left: 1em;
    display: block;
    text-align: left;
    color: #000000;
    margin-bottom: 0.5em;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    width: calc(100% - 20px); 
    padding: 0.75em;
    margin: 10px;  
    border: none;
    border-radius: 5px;
    outline: none;
    background: rgba(255, 255, 255, 0.25);
    color: #000000;
}

.submit-btn {
    width: calc(100% - 40px); 
    padding: 0.75em 1em;
    border: none;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.25);
    color: #000000;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
    margin: 10px; 
}

.submit-btn:hover {
    background: rgba(255, 255, 255, 0.35);
    transform: scale(1.05);
}

.error {
    background-color: #f8d7da; 
    color: #721c24; 
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #f5c6cb; 
    text-align: left;
}

.success {
    background-color: #d1e7dd; 
    color: #0f5132;  
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #badbcc; 
    text-align: left;
}
